.height100vh {
  height: 100vh;
}

.zeroPadding {
  padding: 0;
}

.zeroMarginBottom {
  margin-bottom: 0;
}

.sectionHeader,
.sectionHeader2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  margin: 0 auto;
  width: 72%;
  border-bottom: 1px solid black;
  margin-bottom: 52px;
}

.sectionHeader2 {
  width: 50%;
  border-bottom: none;
  margin: 0;
}

.viewWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 10px;
  width: 80%;
}

.headerWrapper {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 52px;
  border-bottom: 1px solid black;
}
