.tileWrapper {
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-decoration: none;
  color: initial;
}

.tileWrapper:hover {
  cursor: pointer;
}

.title {
  font-size: 16px;
  min-height: 35px;
}

.imageContainer {
  height: 540px;
  width: 100%;
  background-size: contain;
}

.titleBox {
  flex: 1;
  padding: 10px;
  position: relative;
}

.infoWrapper {
  margin-bottom: 0px;
}

.lengthInMinutes,
.publishedDate {
  margin: 0;
}

.lengthInMinutes {
  float: left;
}
.publishedDate {
  float: right;
}

.pylcover {
  background-size: contain;
  background-image: url('../pictures/pyl-front-cover.jpg');
}

.rapidbackend {
  background-size: contain;
  background-image: url('../pictures/rbe-cover.jpg');
}


