.cartBox {
  position: absolute;
  z-index: 40;
  right: 30px;
  top: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  color: white;
}

.fas {
  position: relative;
  top: 5px;
  width: 25px;
  height: 25px;
}

.numOfItems {
  position: absolute;
  top: -25px;
  right: -4px;
}
