.imageContainer {
  width: 200px;
  height: 100%;
}

.cartItem,
.buttonsWrapper {
  margin: 0 0 50px;
}

.buttonsWrapper {
  margin-bottom: 0;
  width: 75%;
  margin: auto;
}

.smallItemPreviewWrapper {
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  .imageWrapper {
    width: 200px;
    height: 200px;
    .imageContainer {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .itemDescription {
    max-width: 150px;
    p {
      margin: 5px 0px;
    }
  }
}

.cartWrapper {
  height: calc(100vh - 50px);
}

.objectEnter {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}

/* Final state of the object, after the 'hidden' class is removed */
.objectEnterActive {
  opacity: 1;
  visibility: visible;
  margin: auto;
  width: 75%;
}
